.projects-section {
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .projects-title {
    position: relative;
  }
  
  .projects-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
  }
  .projects-title img{
    position: absolute;
    bottom: 0;
    right: -20px;
    z-index: -1;
    width: 130px;
}
  .project {
    background-color: lightblack;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .project:hover {
    transform: translateY(-5px);
  }
  
  .project h2 {
    font-size: 28px;
    color: #fff; 
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 18px;
    color: white;
    line-height: 1.6;
  }
  
  .project-image {
    width: 45%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .github-link h1 {
    color: green;  
    font-family: 'Arial', sans-serif; 
    font-size: 22px;  
    text-transform: uppercase;  
    transition: color 0.3s ease;
  }
  
  .github-link h1:hover {
    color: blue;  
  }
  

  
  