.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin:  80px 170px;

}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: -20px;
    z-index: -1;
    width: 130px;
}
.about-section{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 100;
}
.about-left{
    width: 100%;
    height: 100%;
    padding-left: -20px;

}
.about-right img {
    border-radius: 50px; 
    width: 300px; 
    height: 250px; 
    object-fit: cover; 
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}
.about-para{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;

}
